# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDEA
*.iml
.idea/

# XML config files
*.xml
!pom.xml   # Maven 빌드 파일은 제외하고 싶다면